body {
    box-sizing: border-box;
    color: white;
}

header {
    background-color: #1B3764 ;
    width: 100%;
}

nav {
    display: flex;
    padding: 47.5px 310px 0px 310.75px;
}

.logo-img img:first-child {
    margin-right: 33px;
}

.logo-img img {
    margin-right: 10px;

.container {
    width: 100%;
    max-width: 1301px;
    margin: 0 auto;
}