body {
    box-sizing: border-box;
    color: white;
}

header {
    background-color: #1B3764 ;
    width: 1920px;
}

nav {
    display: flex;
    padding: 47.5px 310px 0px 310.75px;
}

nav img:not(:last-child):not(:first-child) {
    margin-right: 10px;
}

nav img:first-child{
    margin-right: 33px;
}

nav p:first-child{
    margin-left: 251px;
}

nav .nav-name {
    margin-right: 30px;
    text-align:justify
}

nav p:first-of-type {
    margin-left: 251px;
}

